/* Add your preferred font and other global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Style your header and nav */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  .nav-link {
    margin: 0 10px;
    cursor: pointer;
  }

  /* Style your sections */
  .about {
    min-height: 100vh;
    padding: 100px 0;
    background-color: #f0f0f0;
  }

  /* Add more styles for other sections */
/* Add these styles to your existing App.css file */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 0 25vw;
  position: relative;
  overflow: hidden;

}

.home div {
  line-height: 1.25;
}

.home h1 {
  font-size: 2.5vw;
}
.typed-text {
  display: block;
  text-align: left;
}



.home h1 {
  transition: color 0.3s ease;
}
.highlight:hover {
  color: #96C3EB;
}
.home video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

@media (max-width: 768px) {
  .home h1 {
    font-size: 7vw; /* Increase font size for smaller screens */
  }

  .typed-text-position {
    top: 20%; /* Adjust the text position for smaller screens */
  }
}
  @media (max-height: 1440px) {
    .home video {
      object-fit: contain;
    }
  }
  @media (max-width: 1440px) {
    .home video {
      object-fit: contain;
    }
  }

@media (min-width: 1441px) {
  /* Adjust video styles for screens with a width greater than 1440px (e.g., ultra-wide monitors) */
}
